<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>后台登录-X-admin1.1</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="static/css/font.css">
	<link rel="stylesheet" href="static/css/xadmin.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/Swiper/3.4.2/css/swiper.min.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.bootcss.com/Swiper/3.4.2/js/swiper.jquery.min.js"></script>
    <script src="static/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="static/js/xadmin.js"></script>
	<style>
		.btn-group-lg>.btn, .btn-lg {
		   font-size: 12px;
		}
		#neirong{
			margin-top: 60px;
		}	
		#pOne:hover{
			background-color: gray;
		}
		#pTow:hover{
			background-color: gray;
		}
		#colorOne{
			background-image: url(images/b.jpg) none;
		}
	</style>
	
	
	<script type="text/javascript">
		$(function(){
			var sd = confirm("该公告是部门或全公司公告不在此看!!!是否确定退出");
			if(sd){
				 var index = parent.layer.getFrameIndex(window.name);
				 parent.layer.close(index);
				 localhost.href="member";
			}else{
				 localhost.href="member";
				 var index = parent.layer.getFrameIndex(window.name);
				 parent.layer.close(index);
			}
		});
		
	</script>
	
	
	
	
</head>
<body>
    <!-- 中部开始 -->
    <div class="wrapper">
    	
    </div>
</body>
</html>
