<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>研学旅行</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" th:href="@{/css/font.css}">
	<link rel="stylesheet" th:href="@{/css/xadmin.css}">
    <link rel="stylesheet" href="https://cdn.bootcss.com/Swiper/3.4.2/css/swiper.min.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.bootcss.com/Swiper/3.4.2/js/swiper.jquery.min.js"></script>
    <script th:src="@{/lib/layui/layui.js}" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{/js/xadmin.js}"></script>
</head>
<body>
    <!-- 中部开始 -->
    <div class="wrapper">
        <!-- 右侧主体开始 -->
        <div class="page-content">
          <div class="content">
            <!-- 右侧内容框架，更改从这里开始 -->
         
              
                <div class="layui-form-item">
                    <label for="L_username" class="layui-form-label">
                        <span class="x-red">*</span>部门名称
                    </label>
                    <div class="layui-input-inline">
                       
                       <input type="hidden" id="L_username" name="id" required="" lay-verify="nikename"
                        autocomplete="off" class="layui-input" th:value="${organization.id}">
                       
                        <input type="text" id="L_username" name="name" required="" lay-verify="nikename"
                        autocomplete="off" class="layui-input" th:value="${organization.name}">
                    </div>
                </div>
                
                  
              
                
                
                 <div class="layui-form-item">
                    <label for="L_username" class="layui-form-label">
                        <span class="x-red">*</span>工作方向
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="L_address" name="context" required="" lay-verify="nikename"
                        autocomplete="off" class="layui-input" th:value="${organization.context}">
                    </div>
                </div>
                
               
             
                
                <div class="cc">
                  <div class="layui-form-item" th:each="l,state : ${list}">
                    <label for="L_username" class="layui-form-label">
                        <span class="x-red">*</span>职位
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="L_address" name="zw"  lay-verify="nikename"
                        autocomplete="off" class="layui-input" th:value="${l.namess}">
             
                    </div>
                    <button class="layui-btn layui-btn-danger" onclick="del(this)"><i class="layui-icon">&#xe640;</i>删除</button>
                    <input type="hidden" th:value="${l.id}">
                </div>
                
                 <div class="cc1">
                 
                 </div>
                
                
                </div>
                
                
                <div class="layui-form-item">
                    <label for="L_username" class="layui-form-label">
                        
                    </label>
                    <div class="layui-input-inline">
                         <button class="layui-btn" onclick="tj1()"><i class="layui-icon">&#xe608;</i>添加</button>
                    </div>
                </div>
                
                
               
                
             
        
            <!-- 右侧内容框架，更改从这里结束 -->
          </div>
             
                <div class="layui-form-item">
                    <label for="L_repass" class="layui-form-label">
                    </label>
                    <button  class="layui-btn" lay-filter="add" lay-submit="" onclick="submit_()">
                        修改
                    </button>
                </div>
          
        </div>
        <!-- 右侧主体结束 -->
    </div>
    <!-- 中部结束 -->
    
</body>
<script type="text/javascript" th:inline="javascript">



   function submit_(){
	   var modules=[];
		  $("[name='zw']").each(function() {
			
				var model={};
				model.id=$(this).parent().next().next().val();
				model.namess=$(this).val();
				
				
				modules.push(model);
		
		})
		
		var organization={};
		  organization.id=$("[name='id']").val();
		  organization.name=$("[name='name']").val();
		  organization.context=$("[name='context']").val();
		  organization.olist=modules;
		  
		  var organizationStr=JSON.stringify(organization);
		  console.log(organizationStr);
		  
		   var urlpath = [[@{/organization/organizationedit}]];
			  $.ajax({
				  url:urlpath,
				  data:organizationStr,
				  type:"post",
				  processData:false,
				  contentType:"application/json",
				  datatype:"text",
				  success:function(result){
					  alert("修改成功");
					  
					  
				  }
			  })
	   
	  var index=parent.layer.getFrameIndex(window.name);
	  parent.layer.close(index)
	  
}
   
   function del1(object){
	   $(object).parent().remove();
   }
   
   function del(object){
	     var id=$(object).next().val();
	     var bmid=$("[name='id']").val();
	     console.log(bmid);
	        var urlpath = [[@{/organization/organizationzwdelete}]];

	        $.ajax({
	      		 url:urlpath,
	      		 data:{
	      			 id:id,
	      			bmid:bmid
	      		 },
	      		 datatype:"json",
	      		 success:function(){
	      			 $(object).parent().remove();
	      			 window.location.reload();
	      		 }
	      	})
	     
	     
	  	
	  	 
	  	 
	  	 
	  }
   
   function tj1(){
	   document.querySelector(".cc1").innerHTML+="<div class='layui-form-item'><label class='layui-form-label'><span class='x-red'>*</span>职位</label><div class='layui-input-inline'><input type='text' name='zw' class='layui-input'></div><button class='layui-btn layui-btn-danger' onclick='del1(this)'><i class='layui-icon'>&#xe640;</i>删除</button></div>";
	   
   }
   
   function tj(){
    	

    	
    	
	   	  document.querySelector(".cc").innerHTML+="<div class='layui-form-item'><label class='layui-form-label'><span class='x-red'>*</span>职位</label><div class='layui-input-inline'><input type='text' name='zw' class='layui-input'></div><button class='layui-btn layui-btn-danger' onclick='del(this)'><i class='layui-icon'>&#xe640;</i>删除</button></div>";
	   	
	   	
	   }
   
   
   


</script>
</html>